.format-moodlemoot {
    .course-content .sidecontent h5 {
        color: $primary;
    }

    .courseheader.introductionpage {
        position: relative;
    }

    .context-header-settings-menu {
        float: initial;
        width: initial;
        max-width: initial;
        margin-top: 0;
        position: absolute;
        top: 4px;
        right: 4px;
    }
}

@include media-breakpoint-down(md) {
    .format-moodlemoot .course-content {
        .coursecontent {
            h3 {
                margin-top: 0 !important; /* stylelint-disable-line declaration-no-important */
                font-size: 1.2em;
            }

            .mform {
                display: none;
            }
        }

        .sidecontent {
            .mform {
                margin-bottom: 1rem;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .format-moodlemoot {
        #page-wrapper #page {
            padding: 0;
        }
    }
}