.format-moodlemoot {
    .course-content .sidecontent h5 {
        color: $primary;
    }

    .courseheader.introductionpage {
        position: relative;
    }

    .context-header-settings-menu {
        float: initial;
        width: initial;
        max-width: initial;
        margin-top: 0;
        position: absolute;
        top: 4px;
        right: 4px;
    }
}

.contentwithoutlink {
    padding-right: 0;

    .labelbar {
        margin: 1em 0;
        padding: 0.5em 0 0.2em 0.5em;
        border: 1px solid #dadada;
        border-top-width: .2em;
        letter-spacing: .1em;
        text-transform: uppercase;
        font-style: normal;
        font-size: 1.4rem;

        i {
            margin-right: 10px;
        }
    }

    .labelbar.primary {
        border-top-color: $primary;
        color: $primary;
    }

    .labelbar.green {
        border-top-color: #8bc34a;
        color: #8bc34a;
    }

    .labelbar.orange {
        border-top-color: #f39c12;
        color: #f39c12;
    }

    .labelbar.red {
        border-top-color: #c0392b;
        color: #c0392b;
    }

    .labelbar.purple {
        border-top-color: #9b59b6;
        color: #9b59b6;
    }

    .labelbar.asphalt {
        border-top-color: #34495e;
        color: #34495e;
    }

    .labelbar.turquoise {
        border-top-color: #1abc9c;
        color: #1abc9c;
    }

    .labelbar.emerald {
        border-top-color: #2ecc71;
        color: #2ecc71;
    }

    .labelbar.peterriver {
        border-top-color: #3498db;
        color: #3498db;
    }

    .labelbar.amethyst {
        border-top-color: #9b59b6;
        color: #9b59b6;
    }

    .labelbar.carrot {
        border-top-color: #e67e22;
        color: #e67e22;
    }

    .labelbar.alizarin {
        background-color: #e74c3c;
        color: #e74c3c;
    }

    .labelbar.concrete {
        background-color: #95a5a6;
        color: #95a5a6;
    }
}

@include media-breakpoint-down(md) {
    .format-moodlemoot .course-content {
        .coursecontent {
            h3 {
                margin-top: 0 !important; /* stylelint-disable-line declaration-no-important */
                font-size: 1.2em;
            }

            .mform {
                display: none;
            }
        }

        .sidecontent {
            .mform {
                margin-bottom: 1rem;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .format-moodlemoot {
        #page-wrapper #page {
            padding: 0;
        }
    }
}