#page-enrol-index #region-main {
    h2 {
        font-size: $h4-font-size;
    }

    .infotitle {
        font-weight: 700;
        margin-bottom: 0;
    }

    .mform > .form-group,
    .form-inline {
        margin-left: 0;
        padding-left: 0;
    }

    .btn {
        @extend .btn-lg;
    }
}