#page-footer {
    background-color: $navbar-dark-color;
    color: $white;
    margin-top: 2rem;
    padding: 1rem 0;
}

.topfooter {
    .center-col {
        text-align: center;

        img {
            max-width: 220px;
        }
    }

    .right-col {
        text-align: right;

        .storelogo {
            display: inline-block;

            img {
                width: auto;
                max-height: 40px;
            }
        }

        .socialbox {
            margin-top: 1rem;

            .fa {
                font-size: 38px;
                margin-right: 4px;

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
}

.madeby {
    background-color: $primary;
    text-align: center;
    min-height: inherit;
    color: #fff;

    p {
        margin: 0;
        padding: .5rem 0;
        font-size: 16px;
    }

    .fa {
        color: #f00;
    }

    a {
        color: #fff;
        text-decoration: underline;
    }

    .madewithmoodle {
        margin-top: .5rem;

        p {
            display: inline-block;
            padding: 0;
        }

        img {
            max-width: 100px;
            margin-top: -12px;
        }
    }
}

@include media-breakpoint-down(md) {
    .topfooter {
        .center-col {
            margin: 1rem 0;
        }

        .right-col {
            text-align: center;

            .socialbox .fa {
                font-size: 32px;
            }
        }
    }

    .madeby .fa {
        display: block;
    }
}