#page-site-index.pagelayout-frontpage {
    #region-main {
        padding: 0;
        border: none;
    }

    .navbar {
        background-color: #fff;
    }

    #frontpageheader {
        margin-top: 1rem;
        margin-bottom: 5rem;

        .title {
            text-align: center;
            margin-bottom: 1rem;

            h2 {
                font-size: 2.2em;
                color: $white;
            }

            p {
                font-size: 1.5em;
                color: $white;
            }
        }

        .title,
        .nextedition {
            position: relative;
            z-index: 3;
        }

        .nextedition {
            background-color: $white;

            .banner {
                padding-left: 0;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .infos {
                padding-left: 0;
                padding-top: .5rem;

                h5 {
                    color: $primary;
                }
            }
        }

        .bg-section {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            z-index: 0;
            display: block;
            overflow: hidden;
            width: 100%;
            height: 92%;
            max-height: 600px;
            opacity: 1;

            .bg-wrapper {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                z-index: 0;
                display: block;
                overflow: hidden;
                width: 100%;
                height: 100%;
                max-height: 540px;
                min-height: 368px;
                opacity: 1;

                .bg-content {
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    width: 120%;
                    height: 120%;
                    margin-top: -5%;
                    margin-left: -10%;
                    background-position: 0 0, 50% 50%;
                    background-size: auto, cover;
                    background-repeat: repeat, no-repeat;
                    opacity: 1;
                    -webkit-filter: blur(20px);
                    filter: blur(20px);
                }
            }
        }
    }

    #region-main {
        background-color: inherit;
    }

    #frontpage-available-course-list {
        overflow: hidden;
        margin-top: 2rem;

        h2 {
            text-align: center;
        }
    }

    .dashboard-card-deck {
        .dashboard-card {
            width: calc(33% - 1rem);
            border: none;
            transition: all 0.25s;

            .card-footer {
                border: none;
                background-color: inherit;
            }

            &:hover {
                z-index: 1;
                background-color: #fff;
                box-shadow: 3px 3px 10px -5px rgba(0, 0, 0, .3);
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .nextedition.md-mt-3 {
        margin-top: 3rem;
    }
}

@include media-breakpoint-down(md) {
    #page-site-index.pagelayout-frontpage .dashboard-card-deck .dashboard-card {
        width: 100%;
    }
}

@include media-breakpoint-down(sm) {
    #page-site-index.pagelayout-frontpage #frontpageheader {
        margin-bottom: 1rem;

        .title {
            h2 {
                font-size: 1.5em;
            }

            p {
                font-size: 1em;
            }
        }

        .nextedition {
            .banner {
                padding-right: 0;
            }

            .infos {
                padding: 1rem !important; /* stylelint-disable-line declaration-no-important */
            }
        }
    }
}