#page-user-profile {
    #region-main {
        border: none;
        padding: 0;
        background-color: initial;
        overflow-x: hidden;
    }

    .titulo {
        min-height: initial;
        margin-bottom: 1rem;
    }

    .user-card {
        background-color: $primary;
        -webkit-border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
        color: $white;
        border: none;

        .action-menu .dropdown-toggle {
            color: $white;

            &:hover {
                color: #3a3f51;
            }
        }

        .card-body {
            text-align: center;
            padding: 1rem;
        }

        h1 {
            font-size: 1.3em;
        }

        h2 {
            font-size: 1.1rem;
        }

        .profilepic {
            margin: 0 auto;

            img {
                border: 6px solid $white;
                max-width: 100%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
            }
        }

        .card-footer {
            background-color: $white;
        }
    }

    #mypublic-tab {
        .courseimage {
            img {
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
            }
        }

        #details {
            background-color: $white;
            padding: 1rem;
            border: 1px solid rgba(0, 0, 0, .125);
        }
    }
}
