body {
    background-color: #f8f8f8;
}

#page {
    margin-top: 0;
}

#maincontent {
    height: 0;
}

#page-site-index.pagelayout-frontpage,
#page-course-view-moodlemoot {
    #region-main {
        padding: 0;
        border: none;
    }
}