body {
    background-color: #f3f3f4;
}

#page {
    margin-top: 20px;
}

#maincontent {
    height: 0;
}

#page-site-index.pagelayout-frontpage,
#page-course-view-moodlemoot {
    #region-main {
        padding: 0;
        border: none;
    }
}

#page-my-index,
#page-user-profile {
    #page {
        margin-top: 20px;
    }
}

.reset-links-focus {
    outline: none;
    color: $primary;
    background-color: initial;
    box-shadow: none;
    -webkit-box-shadow: none;
}
