<div class="row">
    <div class="col-md-4">
        <img src="{{{ courseimage}}} " alt="{{{ coursename }}}" class="img-responsive">
    </div>
    <div class="col-md-8">
        <p class="infotitle">{{#str}}course, core{{/str}}</p>
        <p>{{{ coursename }}}</p>

        <p>{{{ coursesummary }}}</p>
    </div>
</div>