{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page footer.
}}
<footer id="page-footer" class="py-3 bg-dark text-light m-t-2">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p class="mb-1"><a href="https://www.moodlebrasil.org/mod/page/view.php?id=6">Organização</a></p>
                <p class="mb-1"><a href="https://www.moodlebrasil.org/mod/url/view.php?id=220">Comunidade Brasileira no Moodle.org</a></p>
                <p class="mb-1"><a href="https://www.moodlebrasil.org/mod/page/view.php?id=223">Registre a sua instalação Moodle</a></p>
                <p class="mb-1"><a href="https://www.moodlebrasil.org/mod/page/view.php?id=464">Código de Conduta</a></p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="{{{config.wwwroot}}}/theme/moodlemoot/pix/digitalocean.png" alt="Digital ocean">
            </div>
            <div class="col-md-4">
                <div class="left-col span4">
                    <div class="d-inline-block" style="width: 45%;">
                    <a target="_blank" href="https://itunes.apple.com/nz/app/moodlemoot/id1148432073">
                        <img src="{{{config.wwwroot}}}/theme/moodlemoot/pix/download-appstore.png" alt="Baixe o app no Apple App Store" class="img-responsive">
                    </a>
                </div>
                    <div class="d-inline-block" style="width: 45%;">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=nz.co.smartshow.moodle">
                        <img src="{{{config.wwwroot}}}/theme/moodlemoot/pix/download-googleplay.png" alt="Baixe o app no Google Play" class="img-responsive">
                    </a>
                </div>
                </div>
            </div>
        </div>

        <hr />

        <div id="course-footer">{{{ output.course_footer }}}</div>

        {{# output.page_doc_link }}
            <p class="helplink">{{{ output.page_doc_link }}}</p>
        {{/ output.page_doc_link }}

        {{{ output.standard_footer_html }}}

        {{{ output.standard_end_of_body_html }}}
    </div>
</footer>

<div class="madeby">
    <p>{{#str}}madeby, theme_moodlemoot{{/str}} <i class="text-danger fa fa-heart"></i> {{#str}}by, theme_moodlemoot{{/str}} <a href="http://conecti.me">conecti.me</a></p>
</div>
