{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page footer.
}}
<footer id="page-footer">
    <div class="container">
        <div class="row topfooter">
            <div class="col-md-4 left-col">
                <p class="mb-1"><a href="http://netcom-ma.com.br">Site da NETCOM</a></p>
                <p class="mb-1"><a href="http://netcom-ma.com.br/quem-somos/">Sobre a NETCOM</a></p>
            </div>
            <div class="col-md-4 center-col">
                <img src="{{output.get_logo_url}}" alt="{{sitename}}" class="img-responsive" style="max-width: 150px;">
            </div>
            <div class="col-md-4 right-col">
                <div class="socialbox">
                    <a target="_blank" title="Facebook" href="https://facebook.com/netcomoficial"><i class="fa fa-facebook-square"></i></a>
                    <a target="_blank" title="Instagram" href="https://www.instagram.com/netcomoficial"><i class="fa fa-instagram"></i></a>
                    <a target="_blank" title="Site" href="http://netcom-ma.com.br"><i class="fa fa-globe"></i></a>
                </div>
            </div>
        </div>

        <hr />

        <div id="course-footer">{{{ output.course_footer }}}</div>

        {{# output.page_doc_link }}
            <p class="helplink">{{{ output.page_doc_link }}}</p>
        {{/ output.page_doc_link }}

        {{{ output.standard_footer_html }}}

        <div class="tool_usertours-resettourcontainer"></div>

        {{{ output.standard_end_of_body_html }}}
    </div>
</footer>

<div class="madeby">
    <div class="madewithmoodle">
        <p>{{#str}}madewitmoodle, theme_moodlemoot{{/str}}</p>
        <a href="https://moodle.org">
            <img src="{{{ config.wwwroot }}}/theme/moodlemoot/pix/moodle_logo_reverse.svg" alt="Moodle logo">
        </a>
    </div>
</div>
